 .custom-combobox {
    position: relative;
    display: inline-block;
    width: 300px;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* support: IE7 */
    *height: 1.7em;
    *top: 0.1em;
  }
  .div-add input[type=text].direction-dropdown,
  .div-add input[type=text].integration-dropdown,
  .div-add input[type=text].service-dropdown,
  .div-add input[type=text].consumer-dropdown
  {
      width: 250px;
  }
  .ui-autocomplete-input {
    margin: 0;
    padding: 0.3em;
    width: 250px;
    height: 18px;
  }
.ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}

.ui-menu-item {
    height: 20px;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
}

.environment-dropdown-div .custom-combobox {
     width: 100px;
}
  
  
.environment-dropdown-div .ui-autocomplete-input {
       width: 70px;
}

.btenvironment-dropdown-div .ui-autocomplete-input {
       width: 120px;
}

.servers-dropdown-div .custom-combobox {
     width: 100px;
}

.servers-dropdown-div .ui-autocomplete-input {
       width: 70px;
}
